In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import Google Drive
# from google.colab import drive
# drive.mount('/content/drive')
# path = "/content/drive/MyDrive/Online MSDS/MOD C2/Political Polarization/data/"
path = "data/"

In [3]:
convabuse = pd.read_csv(f"{path}convabuse_final.csv")
dynamically_generated_hate_speech = pd.read_csv(f"{path}dynamically_generated_hate_speech_dataset_final.csv")
online_abusive_attacks = pd.read_csv(f"{path}online_abusive_attacks_final.csv")
us_elections_2020_hate_speech = pd.read_csv(f"{path}us_elections_2020_hate_speech_final.csv")
mlma_hate_speech = pd.read_csv(f"{path}MLMA_hate_speech_final.csv")

In [4]:
convabuse.head()

,race_or_ethnicity,gender,religion,lgbtq,nationality,age,disability,class,none,abuse_level
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0

In [5]:
dynamically_generated_hate_speech.head()

,label,type,race_or_ethnicity,gender,religion,lgbtq,nationality,age,disability,class,none,original
0,1.0,-1,0,0,0,1,0,0,0,0,0,0
1,1.0,-1,0,0,0,0,0,0,0,0,0,1
2,1.0,-1,0,0,0,0,0,0,0,0,0,0
3,1.0,0,0,0,0,0,0,0,0,0,1,1
4,1.0,-1,0,0,0,0,0,0,0,0,0,1

In [6]:
online_abusive_attacks.head()

,followers_count,friends_count,verified,statuses_count,women,love,news,account,feminist,official,follow,products,tweets,womens,Toxicity
0,39632.0,15271.0,0,71848.0,0,0,0,0,0,0,0,0,0,0,0.0
1,20606.0,9472.0,0,167382.0,0,0,0,0,0,0,0,0,0,0,13.0
2,20445.0,9396.0,0,165314.0,0,0,0,0,0,0,0,0,0,0,45.0
3,20506.0,9430.0,0,166164.0,0,0,0,0,0,0,0,0,0,0,49.0
4,20583.0,9469.0,0,167488.0,0,0,0,0,0,0,0,0,0,0,7.0

In [7]:
us_elections_2020_hate_speech.head()

   Trump  Biden  West  HOF
0     -1      0     1    1
1      1      0     1    1
2      1      0     1    1
3     -1      0     1    1
4      0     -1     1    1

In [8]:
mlma_hate_speech.head()

,directness,shock_annotator_sentiment,anger_annotator_sentiment,confusion_annotator_sentiment,sadness_annotator_sentiment,indifference_annotator_sentiment,disgust_annotator_sentiment,fear_annotator_sentiment,race_or_ethnicity,gender,religion,lgbtq,nationality,age,disability,class,none,abuse_level
0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,1,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
# Merge Convabuse and MLMA Hate Speech on "abuse_level" using inner join
convabuse_mlma = pd.concat([convabuse, mlma_hate_speech], ignore_index=True, sort=False)

In [11]:
convabuse_mlma.head()

,race_or_ethnicity,gender,religion,lgbtq,nationality,age,disability,class,none,abuse_level,directness,shock_annotator_sentiment,anger_annotator_sentiment,confusion_annotator_sentiment,sadness_annotator_sentiment,indifference_annotator_sentiment,disgust_annotator_sentiment,fear_annotator_sentiment
0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Drop the directness and columns with the term "sentiment"
convabuse_mlma = convabuse_mlma.drop(columns=[col for col in convabuse_mlma.columns if 'directness' in col or 'sentiment' in col])

In [13]:
convabuse_mlma.head()

,race_or_ethnicity,gender,religion,lgbtq,nationality,age,disability,class,none,abuse_level
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0

In [14]:
# Export the merged dataset to a CSV file
convabuse_mlma.to_csv(f"{path}convabuse_mlma_merged.csv", index=False)